@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css";

html, body {
  overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;

  p,
  td,
  span,
  li,
  a {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
  }

  button.btn,
  .navbar {
    font-size: 13px;
    border-radius: 0px;
  }
  .form-control, .modal-body div, .input-group-text{
    border-radius: 0px !important;
  }

  .name-td {
    i {
      color: #aaa;
    }
  }
}

html {
  /*overflow: auto;*/
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* *:not(#tab3-error div, .component-category-list-group, .component-list, #react-select-2-listbox, #global-themes-list-group, #page-themes-list-group, .block-container, .themes-container, .components-container)::-webkit-scrollbar {
  display: none;
} */

.logout-btn {
  position: fixed;
  right: 10px;
}

// #root {
//   margin-top: 40px;
// }

// .login-page #root {
//   margin-top: 0;
// }

.container {
  .modal-title {
    text-transform: uppercase;
  }

  .float-end,
  .modal-header {
    .btn {
      background-color: #f8f8f8;
      color: #000;

      &:hover {
        background-color: #ED0677;
        color: #fff;
      }
    }
  }

  .table {
    font-size: 14px;

    thead {
      background-color: #00c0f3 !important;
      color: #fff;
      border: 1px solid #e6e7e8;
    }

    tbody {
      tr:nth-child(odd) {
        background-color: #f9f9f9;
      }

      tr:nth-child(even) {
        background-color: #fff;
      }
    }
  }
}

.logo .vh-100 {
  background: url(images/favicon_1.png);
  background-size: 65px;
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 1;
}

.logo {
  background: url(images/favicon_1.png);
  background-size: 155px;
  background-repeat: no-repeat;
  background-position: 18.5% 13%;
  z-index: 1;
}

.gjs-clm-tags #gjs-clm-tag-label{
  font-size: 12px;
}
.table-scroll {
  height: 65vh;
  overflow-y: auto;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  thead {
    position: sticky;
    top: -1px;
    background: linear-gradient(to right, #034ea2 100%, #034ea2 100%);
  }
}

/* Set the width of the scrollbar */
.table-scroll::-webkit-scrollbar {
  width: 8px;
}

/* Set the color of the scrollbar track */
.table-scroll::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

/* Set the color and radius of the scrollbar thumb */
.table-scroll::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

/* Set the color and radius of the scrollbar thumb when it's hovered over */
.table-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #999;
  border-radius: 4px;
}

.topnav-btn {
  margin-right: 5px !important;
  margin-left: 0px !important;
}

.pink {
  color: #ca117d;
}

.sky-blue {
  color: #023e82;
}

input::placeholder {
  font: 14px sans-serif;
}

.modal-header {
  button.btn {
    border: 0px;
  }
}

label {
  &.form-label, &.form-check-label {
    font-size: 14px;
  }
}

#custom-loader {
  z-index: 99999;
}

#custom-loader.show {
  opacity: 0.9 !important;
}

::-webkit-scrollbar, .gjs-frame::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #034ea2; 
}

.Toastify {
  font-size: 14px;

  .Toastify__toast {
    border-top: 5px solid #034ea2;
    border-right: 5px solid #034ea2;
    border-left: 5px solid #034ea2;
    color: #000;
    
  //   padding: 0px 4px 0px 0px;
    
  //   .Toastify__toast {
  //     margin-bottom: unset;
  //   }
  }
}